<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1>Todo List</h1>
 
<%= link_to "New todo", new_todo_list_path%>


<table border= 1>
  <thead>
    <tr>
      <th> Name </th>
      <th> Description </th>
    </tr>
  </thead>
  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
          <td> <%= todo_list.name%> </td>
          <td> <%= todo_list.description%> </td>
          <td>
            <%= link_to "Show", todo_list_path(todo_list) %> || 
            <%= link_to "Edit", edit_todo_list_path(todo_list) %> ||
            <%= link_to "Delete", todo_list_path(todo_list), data: { turbo_method: :delete, turbo_confirm: "Are your sure?"} %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
